/*Globals*/
html {
  box-sizing:border-box;
  font-size:62.5%;
  font-family: Arial,Verdana,sans-serif;
}
*, *:before, *:after{
	box-sizing:inherit;
	margin: 0;
	padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  width: inherit;
}
.wrapper {
	padding: 5%;
}
.main-header {
	width: 100%;
}
.overlay h1 {
	font-size: 30px;
	font-size: 3rem;
	margin-top: 70px;
	margin-left: 43px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color:#4becc9;
}
.main-header a {
	color: #4becc9;
}
.overlay {
	width: 100%;
	background-color: #ed4e6e;
	height: 200px;
}

/* colors */
.palette {
	background-color: #ccc;
	border: 1px solid #000;
	width: 80px;
	height: 80px;
	display: inline-block;
	margin-left: 12px;
	color: #000;
}
.palette2 {
	background-color: #bbb;
}
.palette3 {
	background-color: #878787;
}
.colors {
	width: 50%;
}

/*Fonts*/
.primary-font {
	font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	font-size: 20px;
}
.primary-font-italic {
  font-family: "HelveticaNeue", "Helvetica", "italic", sans-serif;
	font-size: 20px;
}

/*Headings*/

	h1{font-size: 40px;}
	h2{font-size: 30px;}
	h3{font-size: 20px;}
  h4{font-size: 18px;}
	h5{font-size: 15px;}
  h6{font-size: 12px;}


/*Nav*/
.main-nav {
  height: 50px;
  margin-left: -3px;
  background-color: #ed4e6e;
  width: 100%;
  margin-top: 30px;
  height: 80px;

}
.main-nav ul {
  list-style: none;
  margin: 0;
  display: inline-block;
}

.main-nav li {
  display: inline-block;
	
}
.list-item {
  font-size: 19px;
  margin-left: 29px;
  margin-top: 12px;
  width: 35%;
  }

/*INFO*/
.container {
	width: 100%;
	display: inline-block;
}
.main-info {
	width: 100%;
}
.info-item {
  background-color: #e8e7e6;
  height: 361px;
  width: 94%;
  display: inline-block;
  margin-top: 30px;
  margin-left: 2%;
}
.img-info {
  background: #FAFAFA;
  height: 135px;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  border: 1px solid #000;
  max-width: 100%;
}
.title-info,
time,
.text-info,
.button-info {
	margin-left: 24px;
}
.title-info {
	margin-top: 9px;
  height: 24px;
  margin-left: 27px;
  font-size: 1.9rem;
}
time {
	font-size: 12px;
	font-size: 1.2rem;
	margin-left: 11%;
}
.text-info {
  font-size: 13px;
  font-size: 1.5rem;
  margin-top: 10px;
  width: 69%;
  margin-left: 11%;
}
.button-info {
  background-color: #FAFAFA;
  height: 46px;
  width: 43%;
  font-size: 13px;
  font-size: 1.4rem;
  border: 1px solid #000;
  margin-top: 13px;
  margin-left: 11%;
}
.button-info:hover {
	background-color: #000;
	color: #FAFAFA;
}

/* slide bar*/
.slidebar-main {
  background-color: #e8e7e6;
  width: 94%;
  height: 282px;
  margin-left: 2%;
  margin-top: 25px;
}
.title-slidebar,
.time-slidebar,
.articulo-slidebar {
	margin-left: 20px;
}
.articulo-slidebar {
  font-size: 16px;
  font-size: 1.6rem;
  text-decoration: underline;
  margin-top: 34px;
}
.title-slidebar {
  font-size: 18px;
  font-size: 1.8rem;
  height: 9px;
  display: inline-block;
  margin-top: 14px;
}
.a-slidebar {
  float: right;
  margin-top: 36px;
  color: #000;
  font-size: 15px;
  font-size: 1.5rem;
  margin-right: 18px;
}
/* //////// footer ////////*/

.footer-main {
	height: 75px;
	background: #ed4e6e;
	display: inline-block;
	width: 100%;
	margin-top: 30px
}
.copyright {
	font-size: 2rem;
  font-size: 20px;
  display: inline-block;
  margin-top: 4%;
  margin-left: 32px;
  color: #4becc9;
}
@media (min-width: 680px) { /* de 680 para arriba*/
  .info-item {
    background-color: #e8e7e6;
    height: 361px;
    width: 46%;
    display: inline-block;
    margin-top: 30px;
  }
  .main-header a {
    font-size: 2rem;
  }
  .main-nav ul {
    padding: 20px;
  }
  .list-item {
    width: auto;
  }
}/*680*/
@media (min-width: 1024px) {
  .overlay h1 {
    font-size: 4rem;
  }
  .main-info {
    width: 76%;
    float: left;
  }
  .info-item {
    height: 370px;
    width: 28%;
  }
  .slidebar-main {
    width: 22%;
    margin-left: 2%;
    display: inline-block;
    overflow: hidden;
    margin-top: 32px;
}
.copyright {
  margin-top: 2%;
}
}/*1024*/

